.breadcrumb ol {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 32px 16px 0;
    margin: 0px auto;
    max-width: 700px;
    color: var(--gainsboro);
    font-size: var(--fs-8);
    white-space: nowrap;
}

.breadcrumb a{
    color: var(--gainsboro);
    transition: var(--transition-1);
}

.breadcrumb a:hover{
    color: var(--citrine);
}
