




.header {
    background: var(--rich-black-fogra-39);
    position: fixed;
    width: 100%;
    z-index: 3;
}


.logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--gunmetal-2);
}

.header li a {
    display:block;
    text-decoration: none;
    transition: var(--transition-1);
    color: white;
    border-bottom: none;
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 30px 15px;
}

.header li a:hover,
.header input:hover {
    background-color: var(--gunmetal-2);
    color: var(--citrine);
}

.header .logo {

}

.header ul{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;

}


.header label {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header label > span {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: var(--transition-1);
    width: 18px;
}

.header label > span:before,
.header label > span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: var(--transition-1);
    width: 100%;
}

.header label > span:before {
    top: 5px;
}

.header label > span:after {
    top: -5px;
}


.header input {
    display: none;
}

.header input:checked ~ nav ul{
    max-height: 500px;
    background-color: transparent;
}

.header input:checked ~ label > span {
    background: transparent;
}

.header input:checked ~ label > span:before {
    transform: rotate(-45deg);
}

.header input:checked ~ label > span:after {
    transform: rotate(45deg);
}

.header input:checked ~ label:not(.steps) > span:before,
.header input:checked ~ label:not(.steps) > span:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header ul{
        background-color: transparent;
        clear: none;
        float: right;
        max-height: none;
        text-align: inherit;
    }
    .header label {
        display: none;
    }
}
