.section {
    background-color: var(--rich-black-fogra-29);
    min-height: 30vh;
    background-size: 35%;
    padding: 50px 0;
    border-top: 1px solid var(--gunmetal-2);
}

.title{
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--fs-2);
    color: var(--white);
    line-height: 1.2;
}

.subtitle{
    color: var(--citrine);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.multiple_list{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(calc(300px + 12vmin), 100%), 1fr));
    gap: 32px;
}

.multiple_list h3{
    color: var(--gainsboro);
    margin-bottom: 10px;
}

.multiple_list li a{
    color: var(--white);
    letter-spacing: 1px;
    font-size: var(--fs-9);
    transition: var(--transition-1);
}

.multiple_list li a:hover{
    color: var(--citrine);

}

