

.section {
  background-color: var(--raisin-black);
  min-height: 30vh;
  background-size: 35%;
  padding: 50px 0;
  position: relative;
}

.section > header{
  position: relative;

}

.section > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

.section > div > p{
  color: var(--white);
  letter-spacing: 1px;
  margin-bottom: 21px;
  text-align: center;
}

.title{
  margin-bottom: 21px;
  text-align: center;
  font-size: var(--fs-2);
  color: var(--white);
  line-height: 1.2;
}

.subtitle{
  color: var(--citrine);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.cta{
  max-width: 360px;
  white-space: nowrap;

  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: var(--transition-1);
  white-space: nowrap;

}

.cta:hover {
  background: var(--citrine);
    color: var(--xiketic);
}
